* {
  margin: 0;
  padding: 0;
}

body {
  font-family: lato;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .top {
  margin: 0 auto;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .top .header {
  margin: 0 auto;
}

.wrapper .top .header .menu {
  margin: 0 auto;
  width: 100%;
  min-height: 75px;
  background-color: #222222;
  /*border: 1px solid red;*/
  /*display: flex;
    justify-content: center;*/
}

.wrapper .top .header .menu .menu-box {
  width: 1140px;
  height: 75px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*border: 1px solid white;*/
}

.wrapper .top .header .menu .menu-box .mb-left {
  margin: 0;
  padding-top: 18px;
  /*border: 1px solid rosybrown;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapper .top .header .menu .menu-box .mb-left .logo {
  padding-bottom: 20px;
  /*border: 1px solid green;*/
}

.wrapper .top .header .menu .menu-box .mb-left .search {
  margin-left: 41px;
  padding-top: 10px;
  /*border: 1px solid green;*/
}

.wrapper .top .header .menu .menu-box .mb-left .search:hover .search {
  opacity: 1;
}

.wrapper .top .header .menu .menu-box .mb-left .search-text {
  width: 256px;
  height: 29px;
  margin-left: 41px;
  margin-top: 10px;
  background-color: #E1E1E1;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  text-align: left;
  padding-left: 20px;
  opacity: 0;
}

.wrapper .top .header .menu .menu-box .mb-left .search-button {
  width: 100px;
  height: 29px;
  margin-left: 0px;
  margin-top: 10px;
  background-color: #f16d7f;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  opacity: 0;
}

.wrapper .top .header .menu .menu-box .mb-right {
  padding-top: 30px;
  /*border: 1px solid rosybrown;*/
}

.wrapper .top .header .menu .menu-box .mb-right .user {
  margin-left: 33px;
}

.wrapper .top .header .menu .menu-box .mb-right .cart {
  margin-left: 33px;
  position: relative;
}

.wrapper .top .header .menu .menu-box .mb-right .cart .num {
  padding-top: 0;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  left: 22px;
  top: -20px;
  border-radius: 20px;
  background-color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #FFFFFF;
}

.wrapper .top .header .slide {
  width: 100%;
  min-height: 764px;
  margin: 0 auto;
  background-color: #F1E4E6;
  /*border: 1px solid red;*/
}

.wrapper .top .header .slide .slide-box {
  width: 100%;
  min-height: 764px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*border: 1px solid green;*/
}

.wrapper .top .header .slide .slide-box .sb-left {
  width: 50%;
  /*border: 1px solid blue;*/
  background-image: url(img/header-img-1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper .top .header .slide .slide-box .sb-right {
  margin: 0 auto;
  width: 50%;
  min-height: 764px;
  height: auto;
  /*border: 1px solid yellow;*/
}

.wrapper .top .header .slide .slide-box .sb-right .title-box {
  width: auto;
  height: 92px;
  margin-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  /*border: 1px solid blue;*/
}

.wrapper .top .header .slide .slide-box .sb-right .title-box .art-line {
  width: 12px;
  background-color: #f16d7f;
}

.wrapper .top .header .slide .slide-box .sb-right .title-box .title {
  min-width: 377px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid green;*/
}

.wrapper .top .header .slide .slide-box .sb-right .title-box .title .h-1 {
  min-width: 377px;
  height: 50%;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  /*border: 1px solid blue;*/
  margin: 0 auto;
  margin-left: 16px;
}

.wrapper .top .header .slide .slide-box .sb-right .title-box .title .h-2 {
  min-width: 377px;
  height: 50%;
  font-weight: 700;
  font-size: 32px;
  color: #222222;
  /*border: 1px solid blue;*/
  margin: 0 auto;
  margin-left: 16px;
}

.wrapper .top .offer {
  width: 100%;
  height: auto;
  /*margin-top: 65px;   */
  margin: 65px auto 0;
  /*border: 1px solid red;*/
}

.wrapper .top .offer .offer-box {
  width: 1140px;
  min-height: 470px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*border: 1px solid green;*/
}

.wrapper .top .offer .offer-box .offer-top {
  margin: 0 auto;
  width: 1140px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .top .offer .offer-box .offer-top .card {
  position: relative;
}

.wrapper .top .offer .offer-box .offer-top .card .card-text {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  position: absolute;
  margin: auto;
  top: 105px;
}

.wrapper .top .offer .offer-box .offer-top .card .card-text .card-text-link {
  text-decoration: none;
}

.wrapper .top .offer .offer-box .offer-bottom {
  margin: 0 auto;
  width: 1140px;
  height: 180px;
  padding-top: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .top .offer .offer-box .offer-bottom .card-bottom {
  position: relative;
}

.wrapper .top .offer .offer-box .offer-bottom .card-bottom .card-bottom-text {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  position: absolute;
  margin: auto;
  top: 65px;
}

.wrapper .top .offer .offer-box .offer-bottom .card-bottom .card-bottom-text .card-bottom-text-link {
  text-decoration: none;
}

.wrapper .top .products {
  width: 100%;
  height: auto;
  /*margin-top: 96px;*/
  margin: 96px auto 0;
  /*border: 1px solid red;*/
}

.wrapper .top .products .products-box {
  width: 1140px;
  min-height: 582px;
  margin: 0 auto;
  /*border: 1px solid green;*/
}

.wrapper .top .products .products-box .pb-heading {
  margin: 0 auto;
  width: 1140px;
  height: auto;
  text-align: center;
  /*border: 1px solid yellow;*/
}

.wrapper .top .products .products-box .pb-heading .h-3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #222;
}

.wrapper .top .products .products-box .pb-heading .h-3-parag {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  padding-top: 6px;
}

.wrapper .top .products .products-box .pb-items {
  margin: 0 auto;
  width: 1140px;
  min-height: 582px;
  padding-top: 48px;
  /*border: 1px solid blue;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .top .products .products-box .pb-items .item {
  width: 360px;
  min-height: 582px;
  margin-top: 30px;
  background-color: #F8F8F8;
  /*border: 1px solid blue;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .top .products .products-box .pb-items .item .h-4 {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  padding-top: 24px;
}

.wrapper .top .products .products-box .pb-items .item .h-4-parag {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  padding-top: 13px;
}

.wrapper .top .products .products-box .pb-items .item .price-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #f16d7f;
  padding-top: 18px;
  padding-bottom: 20px;
}

.wrapper .top .products .products-box .pb-button-box {
  margin: 48px auto 95px;
  /*border: 1px solid blue;*/
  width: 1140px;
  min-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .top .products .products-box .pb-button-box .pb-button {
  margin: 0 auto;
  padding: 14px 38px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
}

.wrapper .footer {
  margin: 0 auto;
  width: 100%;
  min-height: 341px;
  background-color: #222222;
  /*border: 1px solid red;*/
}

.wrapper .footer .feature {
  margin: 0 auto;
  width: 100%;
  min-height: 341px;
  /*border: 1px solid red;*/
}

.wrapper .footer .feature .feature-box {
  width: 1140px;
  height: 341px;
  margin: 0 auto;
  /*border: 1px solid green;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .footer .feature .feature-box .fb-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*border: 1px solid #eee;*/
}

.wrapper .footer .feature .feature-box .fb-block .fb-blok-img {
  margin: 0 auto;
  /*width: 45px;
                    height: 32px;*/
  padding-top: 103px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapper .footer .feature .feature-box .fb-block .fb-block-link {
  margin: 0 auto;
  padding-top: 28px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .footer .feature .feature-box .fb-block .fb-block-text {
  margin: 0 auto;
  padding-top: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}

.wrapper .footer .subscribe {
  margin: 0 auto;
  width: 100%;
  min-height: 448px;
  background-image: url(img/footer-back.png);
  /*border: 1px solid red;*/
}

.wrapper .footer .subscribe .subscribe-box {
  width: 1140px;
  height: 448px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid green;*/
}

.wrapper .footer .subscribe .subscribe-box .sb-left {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border: 1px solid red;*/
}

.wrapper .footer .subscribe .subscribe-box .sb-left .sb-img {
  /*margin: 0 auto;*/
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /*border: 1px solid green;*/
}

.wrapper .footer .subscribe .subscribe-box .sb-left .sb-img .sb-photo {
  margin: 0 auto;
  padding-top: 86px;
  padding-bottom: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  /*border: 1px solid blue;*/
}

.wrapper .footer .subscribe .subscribe-box .sb-parag {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.wrapper .footer .subscribe .subscribe-box .sb-parag .sb-parag-text {
  width: 360px;
  text-align: center;
  padding-bottom: 126px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #222224;
}

.wrapper .footer .subscribe .sb-right {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper .footer .subscribe .sb-right .sb-text {
  width: auto;
  height: auto;
  /*border: 1px solid blue;*/
}

.wrapper .footer .subscribe .sb-right .sb-text .sb-h-3 {
  padding-top: 150px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #222224;
}

.wrapper .footer .subscribe .sb-right .sb-text .sb-h-4 {
  padding-bottom: 32px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #222224;
}

.wrapper .footer .subscribe .sb-right .sb-submit {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid green;*/
}

.wrapper .footer .subscribe .sb-right .sb-submit .sb-mail {
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding-top: 7px;
  padding-left: 22px;
}

.wrapper .footer .subscribe .sb-right .sb-submit .sb-button {
  width: 100px;
  height: 49px;
  background-color: #f16d7f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  padding-top: 7px;
  text-align: center;
}

.wrapper .copyright {
  margin: 0 auto;
  width: 100%;
  min-height: 79px;
  /*border: 1px solid red;*/
}

.wrapper .copyright .copyright-box {
  margin: 0 auto;
  width: 1140px;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*border: 1px solid green;*/
}

.wrapper .copyright .copyright-box .allrights {
  width: auto;
  margin: auto 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  /*border: 1px solid white;*/
}

.wrapper .copyright .copyright-box .socials {
  width: 150px;
  height: auto;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*align-items: flex-end;*/
  /*border: 1px solid white;*/
}

.wrapper .copyright .copyright-box .socials .sc-link {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  border: none;
}
/*# sourceMappingURL=style.css.map */